#items-container {
	width: 100%;
	height: 500px;
	margin-top: 35px;
}

#items-header {
	border-bottom: 3px solid #05aff2;
}

#items-header > p {
	color: #05aff2;
}

#loading-container {
	margin-top: 50px;
}
